* {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #f4a460;
    color: #3e3d2f;
}

.admin-page-container {
    text-align: center;
    padding: 20px;
    background-color: #d2b48c;
    min-height: 100vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2f6035;
    margin: 20px;
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #8b4513;
    border-radius: 5px;
}

form input[type="password"] {
    background-color: #fff5e6;
    border-color: #8b4513;
}

form button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #6e4d1b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #8b4513;
}

/* Lista de Produtores */
ul {
    list-style-type: none;
    padding: 10px;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5deb3;
    border: 1px solid #8b4513;
    border-radius: 5px;
}

ul li button {
    margin-left: 10px;
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

ul li button:hover {
    background-color: #b22222;
}

/* Fontes */
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .jersey-15-charted-regular {
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lora-500 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
  }