* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.homepage-container {
  text-align: center;
  padding: 20px;
  background-color: #d2b48c;
  min-height: 100vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


h1 {
  font-size: 4rem; 
  margin-bottom: 20px;
  color: #2f6035; 
}

h3 {
  font-size: 2rem;
}


.homepage-image {
  width: 400px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.homepage-info {
  font-size: 1.4em;
  color: #6e4d1b; 
  margin-bottom: 20px; 
  line-height: 1.5em; 
}

/* Divs dos produtores e consumidores */
.homepage-divs-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.homepage-div {
  width: 300px;
  padding: 30px;
  border: 2px solid #8b4513; 
  border-radius: 10px;
  background-color: #f5deb3; 
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.homepage-div:hover {
  background-color: #e5b78e; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.homepage-div h3 {
  margin-bottom: 20px;
  color: #2f6035;
}

.homepage-div p {
  color: #3e3d2f; 
}
